@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 3.0rem;
  font-family: 'Open-Sans', sans-serif;
}

main #wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

main #you, main #opponent {
  margin: 10px auto;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #you {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

main h1 {
  font-size: 2rem;
  font-weight: 300;
}

main .counter {
  position: relative;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: inherit;
  border: 1px solid #555;
}

main i:hover {
  color: #999;
  cursor: pointer;
}

main .fa-caret-down, main .fa-caret-up {
  padding: 0;
  margin: 0;
}

main .tens, main .ones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .tens-digit, main .ones-digit {
  border: 1px solid #555;
  border-radius: 4px;
  padding: 0px 8px;
}

main .fa-redo {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 1.5rem;
}

main .fa-angle-double-down, main .fa-angle-double-up {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 1.5rem;
}

main .collapse {
  width: 250px;
  border: 1px solid #555;
  display: block;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: height 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

main .collapse .add-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

main .collapse .add-counter .counter-name {
  margin-left: 5px;
  border: 1px solid #d5d5d5;
  padding: 3px;
}

main .collapse .add-counter .counter-add, main .collapse .add-counter .counter-minus {
  font-size: 1.25rem;
  margin: 8px;
}

main .collapse .add-counter .counter-output {
  display: inline-block;
  font-size: 0.9rem;
  margin-left: 10px;
  width: 20px;
}

main .show {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

main .buttons {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  opacity: 0;
  -webkit-transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

main .buttons .add-new-counter {
  border-right: 1px solid #555;
  border-left: 1px solid #555;
  border-bottom: 1px solid #555;
  width: 38px;
  padding: 5px 2px;
  text-align: center;
  font-size: 0.9rem;
  cursor: pointer;
}

@media (min-width: 420px) {
  main #wrapper {
    margin-top: 20vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main #you {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  main #you, main #opponent {
    margin: 0 50px;
  }
}
/*# sourceMappingURL=style.css.map */