@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 3.0rem;
  font-family: 'Open-Sans', sans-serif;
}

main {

  #wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }

  #you, #opponent {
    margin: 10px auto;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #you {
    order: 1;
  }

  h1 {
    font-size: 2rem;
    font-weight: 300;
  }

  .counter {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    width: inherit;
    border: 1px solid #555;
  }

  i {
    &:hover {
      color: #999;
      cursor: pointer;
    }
  }

  .fa-caret-down, .fa-caret-up {
    padding: 0;
    margin: 0;

  }

  .tens, .ones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tens-digit, .ones-digit {
    border: 1px solid #555;
    border-radius: 4px;
    padding: 0px 8px;
  }

  .fa-redo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1.5rem;
  }

  .fa-angle-double-down, .fa-angle-double-up {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 1.5rem;
  }

  .collapse {
    width: 250px;
    border: 1px solid #555;
    display: block;
    height: 0;
    overflow: hidden;
    transition: height 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

    .add-counter {
      width: 250px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 40px;

      .counter-name {
        margin-left: 5px;
        border: 1px solid lighten(#555, 50%);
        padding: 3px;
      }
  
      .counter-add, .counter-minus {
        font-size: 1.25rem;
        margin: 8px;
      }
  
      .counter-output {
        display: inline-block;
        font-size: 0.9rem;
        width: 25px;
      }
    }
  }

  .show {
    transform: scaleY(1);
  }


  .buttons {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

    .add-new-counter {
      border-right: 1px solid #555;
      border-left: 1px solid #555;
      border-bottom: 1px solid #555;
      width: 38px;
      padding: 5px 2px;
      text-align: center;
      font-size: 0.9rem;
      cursor: pointer;
    }
  }

  @media(min-width: 420px) {
    #wrapper {
      margin-top: 20vh;
      flex-direction: row;
    }

    #you {
      order: 0;
    }

    #you, #opponent {
      margin: 0 50px;
    }
  }
}
